Source: gitcj
Section: unknown
Priority: extra
Maintainer: Christian Jaeger <christian@jaeger.mine.nu>
Build-Depends: debhelper (>= 7), xsltproc, asciidoc, libexpat1-dev, libssl-dev, libcurl3-gnutls-dev|libcurl4-openssl-dev, xmlto, docbook2x
Standards-Version: 3.7.3

Package: gitcj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liberror-perl
Conflicts: git-core, git-arch, git-cvs, git-doc, git-email, git-gui, git-svn, gitk
Provides: git-core, git-arch, git-cvs, git-doc, git-email, git-gui, git-svn, gitk
Description: Git built as one single package, from sources tracked by myself
 An easy everything-from-upstream-Git-in-one-go package. Just upstream
 Git without any Debian specific changes, but still as an easily
 upgradeable/deinstallable deb.
 .
 More info and the build files from:
 http://www.christianjaeger.ch/debs/git/
 .
 Mirror of the build files at:
 http://repo.or.cz/w/gitcj-debian.git

