Source: gitcj
Section: unknown
Priority: extra
Maintainer: Christian Jaeger <christian@jaeger.mine.nu>
Build-Depends: debhelper (>= 7), xsltproc, asciidoc, libexpat1-dev, libssl-dev, libcurl3-gnutls-dev|libcurl4-openssl-dev, xmlto, docbook2x
Standards-Version: 3.7.3

Package: gitcj
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Git built as one single package, from sources tracked by myself
 <insert long description, indented with spaces>
